body{
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background-color: aliceblue;
color: #333;
}

header{
background-color: blueviolet;
color: aliceblue;
text-align: center;
padding: 30px 20px;
}

header h1{
margin:0;
font-size:2rem;
}

header p {
margin-top: 10px;
font-size: 1rem;
}

main{
padding:20px;
}

section h2 {
color: #333;
font-size: 1.5rem;
margin-bottom: 20px;
}
section div {
margin-bottom: 20px;
padding: 15px;
border-radius: 8px;
background-color: #f8f8f8;
}

button{
background-color: blueviolet;
color: white;
border: none;
padding: 8px 16px;
border-radius: 4px;
cursor: pointer;
font-size: 1rem;
margin-bottom:10px ;
}

button:hover{
background-color: #5a1693;
}

.answer{
display: none;
margin-top: 10px;
color: #6c1eb0;
font-weight: bold;
}

footer{
text-align: center;
background-color: #f0f0f0;
padding: 10px;
font-size: 0.9rem;
color: #666;
}
@media (max-width: 600px){
    body{
    padding:10px
    }
    button {
    width: 100%;
    }
}